body {
  font-family: Arial, sans-serif;
  margin: 50px;
  background-color: #f9f9f9;
}
h1 {
  color: #333;
}
.countdown-container {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f0f0f0;
}
.time-input {
  padding: 8px;
  margin: 10px 5px 10px 0;
  font-size: 1em;
  width: 50px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  padding: 8px 15px;
  font-size: 0.9em;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
button:hover {
  background-color: #218838;
}
button.remove-button {
  background-color: #dc3545;
}
button.remove-button:hover {
  background-color: #c82333;
}
.result,
.countdown {
  margin-top: 20px;
  font-size: 1.1em;
}
.time-label {
  margin-right: 5px;
}
input.title-input {
  font-size: 1.1em;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}
